    </main>
    <footer id="footer">
      <div class="row">
        <div class="columns small-12">
          <hr />
          <p>
            A blog by <a href="http://mariusolbertz.de" target="_blank">Marius Olbertz</a>.
            <br /><small>Built using Gulp, Foundation, Panini.</small>
          </p>
        </div>
      </div>
    </footer>
  </div>

  <a href="#content" class="jump-to-top" title="Jump to top">
    <!--<span class="show-for-sr">Jump to top</span>-->
    <span aria-hidden="true">&uarr;</span>
  </a>
  <script src="{{#unlesspage 'index'}}../{{/unlesspage}}assets/js/main.js"></script>
</body>
</html>