{{>header}}
<div class="row post">
  <div class="medium-8 large-9 columns" id="content">
    <div class="text-right">
      Published: {{published}}
    </div>
    <hr />
{{> body}}

  {{#tags}}
    <span class="button small hollow ">{{.}}</span>
  {{/tags}}
  </div>
  <div class="medium-4 large-3 columns" data-sticky-container>
    <nav class="columns sticky" data-sticky data-anchor="content" data-sticky-on="medium">
      <h3>Contents</h3>
      <ul class="vertical menu list-of-contents" data-magellan>
      </ul>
    </nav>  
  </div>
</div>
{{>footer}}